.ipynb_checkpoints
Chapter05/np.csv
Chapter05/pd.csv
Chapter05/test.h5
prof_demo.py.lprof
dump.rdb
Chapter12/__pycache__
Chapter12/build
*.so
cython_module.c
Chapter11/fort_sum.cpython-36m-darwin.so.dSYM
Chapter11/bfort_sum.cpython-36m-darwin.so.dSYM
sunspots.mat
sum_rain_wrap.cxx
*.o
sum_rain.py
